*{
        margin: 0;
        padding: 0;
        font-style: italic;
        font-family: Cardo;
        font-weight: 500;
        color: #FCF6F5;
        scroll-behavior: smooth;
        
    }

   
       
    body{
        background:#F2EDD7FF;
        height: 100vh;
        
        overflow-x: hidden;
       
       
    }

    .page-header{
        background: #2156BE;
        height: 12%;
    }
  

    .header-text{
        color: #FCF6F5;
        
    }

    #top-Btn{
       
        position: fixed; 
        bottom: 20px;
        right: 30px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color:#0F1E4A; 
        color:#FCF6F5; 
        cursor: pointer; 
        padding: 11px; 
        border-radius: 10px; 
        font-size: 1.3rem;

    }
    #down-Btn{
       
        position: fixed; 
        bottom: 20px;
        right: 75px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color:#0F1E4A; 
        color:#FCF6F5; 
        cursor: pointer; 
        padding: 11px; 
        border-radius: 10px; 
        font-size: 1.3rem;

    }

   
    
    .hero-container{
        height: 100%;
    }
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-image: url('../img/pexels-pixabay-221455.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
       

    }


    .hero-title{font-size: 2rem;}






    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .intro-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        width: 80%;
        padding-bottom: 10%;
        border:#0F1E4A solid 1px;
        border-top: 0;
        border-left: 0;
        border-right: 0;


    }

    .intro-text p{
        color: #0F1E4A;
        font-size: 1.5rem;
        text-align: center;
    }

    .design-img{
        width: 30%;
        padding-top: 2%;
    }



    .contact-us{
        padding-top: 3%;
        padding-left: 10%;
        display: flex;
    }

    .general-info{
        display: flex;
        flex-direction: column;
        width: 30%;
    }


    .general-info h2,h3,a,p {
        color: #0F1E4A;
        text-decoration: none;
    }

    .title{
        font-size: 3rem;
        color: #0F1E4A;
    }

    .general-info p,a{
        font-size: 1.3rem;
    }

    .room{
        font-size: 2rem;
    }

    .general-info h3{
        font-size: 2rem;
    }


    .form-start {
        padding-left: 3%;
        display: flex;
        flex-direction: column;
    }

 
    fieldset{
        border: none;
        outline: none;
    }

    .first-section{
        min-height: 100%;
        height: 40px;
        width: 87%;
        display: flex;
        
        padding-top: 1%;
        border: none;
        outline: none;
        
    }

    input{
        height: 100%;
        width: 49%;
        outline: none;
        border: none;
        background-color: #0F1E4A;
        font-size: 1.5rem;
        text-indent: 3%;
        font-style: normal;
    }

    #email{
        width: 100%;
        text-indent: 1%;
    }
    #tele{
        margin-left:2%;
    }

    input::placeholder{
        color: #FCF6F5;
       
    }

    .box-option{
        width: 87%;
        background: #0F1E4A;
        margin-top: 1%;
    }

    select{
        background: #0F1E4A;
    }

   

    textarea{
        resize: none;
        width: 100%;
        background: #0F1E4A;
        text-indent: 1%;
        height: 90%;
        font-size: 1.5rem;
        font-style: normal;
        
    }

    textarea::placeholder{
        color: #FCF6F5;
        font-size: 1.5rem;

    }
   
    .text-section{
        width: 87%;
        padding-top: 1%;
        height: 300px;
    }

    textarea::placeholder{
        color: #FCF6F5;
        font-size: 1.5rem;
    }

    #submit{
        background: none;
        color: #0F1E4A;
        border: #0F1E4A solid 2px;
        cursor: pointer;
    }

    #submit:hover{
        background: #0F1E4A;
        color: #FCF6F5;
        transition: ease 0.5s;
    }

    
   


    
 


    @media screen and (max-width: 550px) {
        .intro-text{
            padding-top: 10%;
            width: 100%;
        }
        .design-img{
            width: 40%;
        }
        .intro-text p{font-size: 1.2rem ;}

        .contact-us{
            flex-direction: column;
        }
        .form-start{
            padding-left: 1%;
            padding-top: 3%;
        }
        textarea{font-size: 1rem;}

        input{font-size: 1rem;}



        
    }