     
   
    @media screen and (min-width: 300px) {
       
        .hero h1{
            padding-top: 10%;
        }

        .button button{
            margin-top: 400px;
            width:200px;
            
       }
       
     

    }


   @media screen and (min-width: 700px) {
        
    #hamburger-button{
        display: none;
    }
  
    #nav-bar{
        display: flex;
        
    }
    
    #hide-desktop-table-view{
        right: 0;
    }
     .button button{
       display: none;
        
    }

    
    }



