*{
    padding: 0;
    margin: 0;
    font-style: italic;
    font-family: Cardo;
    font-weight: 500;
       
    color: #FCF6F5;
    scroll-behavior: smooth;
}


.page-header{
    background:#2156BE;
}
.back-Btn{
       
    
    border: none; 
    outline: none; 
    background-color:#0F1E4A; 
    color:#FCF6F5; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 1.3rem;
}

section{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.succsesful-submit h1{
    color: #0F1E4A;
    text-align: center;

}

.succsesful-submit h2{
    color: #0F1E4A;
    text-align: center;
}

.home-page{
    display: flex;
    
    justify-content: center;
    margin-top: 5%;
}


header{
    color: #FCF6F5;
}





